NHAPlatformService/src/main/resources/schema/nha-xsd/UPI-Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:upi="http://npci.org/upi/schema/" targetNamespace="http://npci.org/upi/schema/"
	elementFormDefault="unqualified" attributeFormDefault="unqualified"
	version="1.1">

	<xs:simpleType name="identityConstant">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PAN" />
			<xs:enumeration value="BANK" />
			<xs:enumeration value="AADHAAR" />
			<xs:enumeration value="ACCOUNT" />
			<!-- GST RELATED CHANGES START-->
			<xs:enumeration value="GSTIN" />
			<!-- GST RELATED CHANGES END-->
			<xs:enumeration value="PASSPORT" />
			<xs:enumeration value="VOTERID" />
			<xs:enumeration value="DRIVINGLICENSE" />
			<xs:enumeration value="SHGACC" />
		</xs:restriction>
	</xs:simpleType>

	<!-- upi-billion to upi-merge -->		
	<xs:simpleType name="custidentityConstant">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PAN" />
			<xs:enumeration value="VOTERID" />
			<xs:enumeration value="DRIVINGLICENSE" />
			<xs:enumeration value="AADHAAR" />
			<!-- Added for Mandate Notification -->
			<xs:enumeration value="UMN" />		
		</xs:restriction>
	</xs:simpleType>
	<!-- upi-billion to upi-merge -->	

	<xs:simpleType name="tenorConstants">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TODAY" />
			<xs:enumeration value="TOM" />
			<xs:enumeration value="SPOT" /> 
			<xs:enumeration value="D1" />
			<xs:enumeration value="W1" />
			<xs:enumeration value="M1" />
			<xs:enumeration value="M2" />
			<xs:enumeration value="M3" />
			<xs:enumeration value="M4" />
			<xs:enumeration value="M5" />
			<xs:enumeration value="M6" />
			<xs:enumeration value="M9" />
			<xs:enumeration value="Y1" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="whiteListedConstant">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TRUE" />
			<xs:enumeration value="FALSE" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="amountSplitConstant">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PURCHASE" />
			<xs:enumeration value="CASHBACK" />
			<xs:enumeration value="PARAMOUNT" />
			<!-- GST RELATED CHANGES START-->
			<xs:enumeration value="GST" />
			<xs:enumeration value="CGST" />
			<xs:enumeration value="SGST" />
			<xs:enumeration value="IGST" />
			<xs:enumeration value="CESS" />
			<xs:enumeration value="GSTINCENTIVE" />
			<xs:enumeration value="GSTPCT" />
			<xs:enumeration value="TIPS" />
			<xs:enumeration value="CONFEE" />
			<xs:enumeration value="DISCPCT" />
			<xs:enumeration value="CONPCT" />
			<xs:enumeration value="DISCOUNT" />			
			<!-- GST RELATED CHANGES END-->
			<!-- I18N RELATED CHANGES START-->
			<xs:enumeration value="baseAmount" />
			<xs:enumeration value="baseCurr" />
			<xs:enumeration value="FX" />
			<xs:enumeration value="Mkup" />
			<!-- I18N RELATED CHANGES END-->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="payerConstant">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PERSON" />
			<xs:enumeration value="ENTITY" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="credDataTypeConstant">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Alphanumeric" />
			<xs:enumeration value="Numeric" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="credLengthConstant">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="4" />
			<xs:maxInclusive value="6" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Updated as per TSD 2.0v35 requirement -->
	<xs:simpleType name="payConstant">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PAY" />
			<xs:enumeration value="COLLECT" />
			<xs:enumeration value="REVERSAL" />
			<xs:enumeration value="REFUND" />
			<xs:enumeration value="CREDIT" />
			<xs:enumeration value="DEBIT" />
			<xs:enumeration value="BAL" />
			<xs:enumeration value="ListPsp" />
			<xs:enumeration value="ListAccPvd" />
			<xs:enumeration value="ListKeys" />
			<xs:enumeration value="GetToken" />
			<xs:enumeration value="ListAccount" />
			<xs:enumeration value="ListVae" />
			<xs:enumeration value="ManageVae" />
			<xs:enumeration value="ValAdd" />
			<xs:enumeration value="SetCre" />
			<xs:enumeration value="ReqRegMob" />
			<xs:enumeration value="ResetRegMob" />
			<xs:enumeration value="ChkTxn" />
			<xs:enumeration value="Otp" />
			<xs:enumeration value="BalEnq" />
			<xs:enumeration value="Hbt" />
			<xs:enumeration value="PendingMsg" />
			<xs:enumeration value="TxnConfirmation" />
			<xs:enumeration value="CREATE" />
			<xs:enumeration value="REVOKE" />
			<xs:enumeration value="UPDATE" />
			<xs:enumeration value="ListPSPKeys" />
			<xs:enumeration value="BalChk" />
			<xs:enumeration value="ReqActivation" />
			<xs:enumeration value="International" />
			<xs:enumeration value="UPI Services" />
			<xs:enumeration value="IntlQr" />
			<xs:enumeration value="QrVal" />
			<xs:enumeration value="ReqFxRate" />
			<xs:enumeration value="RespFxRate" />
			<xs:enumeration value="Booking" />
			<xs:enumeration value="ValCust" />
			<xs:enumeration value="ReqMapperConfirmation" />
			<!-- Added for Mandate Notification -->
			<xs:enumeration value="MandateNotification" />
			<!--Added for KYC -->
			<xs:enumeration value="FETCH" />
			<xs:enumeration value="RespKyc" />
			<xs:enumeration value="ReqKyc" />
			<xs:enumeration value="AUTH" />
			<xs:enumeration value="PAUSE" />
			<xs:enumeration value="UNPAUSE" />			
			<xs:enumeration value="VR" />			
			<xs:enumeration value="ChkBankStatus" />
			<xs:enumeration value="NameEnq" />
			<xs:enumeration value="MiniStmt" />
			<xs:enumeration value="BFD" />
			<xs:enumeration value="BIO-AUTH" />
			<xs:enumeration value="DEMO-AUTH" />
			<xs:enumeration value="REQ-OTP" />
			<xs:enumeration value="ADVICE" />
			<xs:enumeration value="OTP-AUTH-UPDATE" />
			<xs:enumeration value="EKYC" />
			<xs:enumeration value="TKN" />			
			<xs:enumeration value="PAUSE" />
			<xs:enumeration value="UNPAUSE" />
			<!-- UDIR Addition Start -->
			<xs:enumeration value="COMPLAINT" />
			<xs:enumeration value="DISPUTE" />
			<xs:enumeration value="STATUSUPDATE" />
			<xs:enumeration value="CHKSTATUS" />
			<xs:enumeration value="STATUS" />
			<xs:enumeration value="AUTOUPDATE" />
			<xs:enumeration value="BACKOFFICE" />
			<!-- UDIR Addition End -->
			<!-- Added for PanAuth -->
			<xs:enumeration value="ITD" />
			<!-- Mobile Mapper Addition Start -->
			<xs:enumeration value="CMREGISTRATION" />
			<xs:enumeration value="CHECK" />
			<xs:enumeration value="HISTORY" />
			<xs:enumeration value="FETCH" />
			<xs:enumeration value="PORT" />
			<!-- Mobile Mapper Addition End -->
			<xs:enumeration value="SHG" />
			<xs:enumeration value="Voucher" />
			<xs:enumeration value="REDEEM" />
			<xs:enumeration value="EXPIRED" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="expireRuleConstant">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EXPIREAFTER" />
			<xs:enumeration value="MINAMOUNT" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="metaTagNameType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PAYREQSTART" />
			<xs:enumeration value="PAYREQEND" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="deviceTagNameType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MOBILE" />
			<xs:enumeration value="GEOCODE" />
			<xs:enumeration value="LOCATION" />
			<xs:enumeration value="IP" />
			<xs:enumeration value="TYPE" />
			<xs:enumeration value="ID" />
			<xs:enumeration value="OS" />
			<xs:enumeration value="APP" />
			<xs:enumeration value="CAPABILITY" />
			<xs:enumeration value="TELECOM" />
			<xs:enumeration value="cardAccpTrId" />
			<xs:enumeration value="cardAccIdCode" />
			<xs:enumeration value="posEntryCode" />
			<xs:enumeration value="posServCdnCode" />
		</xs:restriction>
	</xs:simpleType>
	
		
	<xs:simpleType name="idDetailType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACNUM" />
			<xs:enumeration value="MASKNAME" />
			<xs:enumeration value="IFSC" />
			<xs:enumeration value="ACTYPE" />
			<xs:enumeration value="ACNATURE" />
			<xs:enumeration value="ACHOLDER" />
			<xs:enumeration value="CODE" />
			<xs:enumeration value="TYPE" />
		</xs:restriction>
	</xs:simpleType>
	

	<xs:simpleType name="addressType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AADHAAR" />
			<xs:enumeration value="ACCOUNT" />
			<xs:enumeration value="MOBILE" />
			<xs:enumeration value="CARD" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="accountDetailType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IIN" />
			<xs:enumeration value="UIDNUM" />
			<xs:enumeration value="IFSC" />
			<xs:enumeration value="ACTYPE" />
			<xs:enumeration value="ACNUM" />
			<xs:enumeration value="MMID" />
			<xs:enumeration value="MOBNUM" />
			<xs:enumeration value="CARDNUM" />
			<xs:enumeration value="CREDIT" />
			<xs:enumeration value="PPIWALLET" />
			<xs:enumeration value="BANKWALLET" />
			<xs:enumeration value="SEMICLOSEDBANKWALLET" />
			<xs:enumeration value="SEMICLOSEDPPIWALLET" />
			<xs:enumeration value="NRO" />
			<xs:enumeration value="UIDTOKEN" />
			<xs:enumeration value="VID" />
			<xs:enumeration value="REFKEY" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MobRegDetailsNameType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MOBILE" />
			<xs:enumeration value="CARDDIGITS" />
			<xs:enumeration value="EXPDATE" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="credType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AADHAAR" />
			<xs:enumeration value="OTP" />
			<xs:enumeration value="PIN" />
			<xs:enumeration value="CARD" />
			<xs:enumeration value="PreApproved" />
			<xs:enumeration value="PREAUTH" />
			<xs:enumeration value="Challenge" />
			<xs:enumeration value="UPI-Mandate" />
			<xs:enumeration value="PostCredit" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Updated as per TSD 2.0v35 requirement -->
	<xs:simpleType name="credSubType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IIR" />
			<xs:enumeration value="FMR" />
			<xs:enumeration value="FIR" />
			<xs:enumeration value="OTP" />
			<xs:enumeration value="SMS" />
			<xs:enumeration value="EMAIL" />
			<xs:enumeration value="HOTP" />
			<xs:enumeration value="TOTP" />
			<xs:enumeration value="MPIN" />
			<xs:enumeration value="ATMPIN" />
			<xs:enumeration value="CVV1" />
			<xs:enumeration value="CVV2" />
			<xs:enumeration value="EMV" />
			<xs:enumeration value="initial" />
			<xs:enumeration value="reset" />
			<xs:enumeration value="rotate" />
			<xs:enumeration value="NA" />
			<xs:enumeration value="AADHAAR-BIO-FP" />
			<xs:enumeration value="AADHAAR-BIO-IRIS" />
			<xs:enumeration value="AADHAAR-BIO-OTP" />
			<xs:enumeration value="DS" />
			<xs:enumeration value="CARDDETAILS" />
			<xs:enumeration value="FACEAUTH" />
			<xs:enumeration value="UIDAI-AUTH-CODE" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="resultType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SUCCESS" />
			<xs:enumeration value="FAILURE" />
			<xs:enumeration value="PARTIAL" />
			<xs:enumeration value="DEEMED" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="refType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PAYER" />
			<xs:enumeration value="PAYEE" />
			<xs:enumeration value="BENEFICIARY" />
			<xs:enumeration value="REMITTER" />
		</xs:restriction>
	</xs:simpleType>

	<!-- UDIR Addition Start -->
	<xs:simpleType name="refProcStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="COMPLETED" />
			<xs:enumeration value="TIMEOUT" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="adjFlagType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RRC" />
			<xs:enumeration value="RET" />
			<xs:enumeration value="PBRB" />
			<xs:enumeration value="TCC" />
			<xs:enumeration value="DRC" />
			<xs:enumeration value="NAC" />
			<xs:enumeration value="REF" />
			<xs:enumeration value="BTO" />
			<xs:enumeration value="PTO" />
			<xs:enumeration value="BUU" />
			<xs:enumeration value="PUU" />
			<xs:enumeration value="RUU" />
			<xs:enumeration value="PR2C" />
			<xs:enumeration value="UTO" />
			<xs:enumeration value="B" />
			<xs:enumeration value="A" />
		</xs:restriction>
	</xs:simpleType>

	<!-- UDIR Addition End -->

	<xs:simpleType name="activeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y" />
			<xs:enumeration value="N" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="linkType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MOBILE" />
			<xs:enumeration value="AADHAAR" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="aebaType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y" />
			<xs:enumeration value="N" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Updated as per TSD 2.0v35 requirement -->
	<xs:simpleType name="listedAccountType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SAVINGS" />
			<xs:enumeration value="CURRENT" />
			<xs:enumeration value="DEFAULT" />
			<xs:enumeration value="NRE" />
			<xs:enumeration value="NRO" />
			<xs:enumeration value="CREDIT" />
			<xs:enumeration value="PPIWALLET" />
			<xs:enumeration value="BANKWALLET" />
			<xs:enumeration value="SEMICLOSEDBANKWALLET" />
			<xs:enumeration value="SEMICLOSEDPPIWALLET" />
			<xs:enumeration value="SOD" />
			<xs:enumeration value="UOD" />

		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="opType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADD" />
			<xs:enumeration value="MODIFY" />
			<xs:enumeration value="UPDATE" />
			<xs:enumeration value="REMOVE" />
		</xs:restriction>

	</xs:simpleType>
		<xs:simpleType name="mapperIdType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MOBILE" />
			<xs:enumeration value="NUMERICID" />
		</xs:restriction>

	</xs:simpleType>

	<!-- mobile mapper changes start -->
	<!-- xs:simpleType name="mobileMapperIdType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="M" />
			<xs:enumeration value="N" />
		</xs:restriction>
	</xs:simpleType -->
	<!-- mobile mapper changes end -->

	<xs:simpleType name="newCredType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PIN" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="newCredSubType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MPIN" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="hbtMsgType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EOD" />
			<xs:enumeration value="ALIVE" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="reqMsgType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MOBILE" />
			<xs:enumeration value="AADHAAR" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Updated as per TSD 2.0v29 requirement -->
	<xs:simpleType name="initiationModeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01" />
			<xs:enumeration value="02" />
			<xs:enumeration value="03" />
			<xs:enumeration value="04" />
			<xs:enumeration value="05" />
			<xs:enumeration value="06" />
			<xs:enumeration value="07" />
			<xs:enumeration value="08" />
			<xs:enumeration value="09" />
			<xs:enumeration value="10" />
			<xs:enumeration value="11" />
			<xs:enumeration value="12" />
			<xs:enumeration value="13" />
			<xs:enumeration value="14" />
			<xs:enumeration value="15" />
			<xs:enumeration value="18" /> <!-- ATM -->
			<xs:enumeration value="00" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Updated as per TSD 2.0v35 requirement -->
	<xs:simpleType name="txnSubType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PAY" />
			<xs:enumeration value="COLLECT" />
			<xs:enumeration value="DEBIT" />
			<xs:enumeration value="CREDIT" />
			<xs:enumeration value="REFUND" />
			<xs:enumeration value="REVERSAL" />
			<xs:enumeration value="MANDATE" />
			<xs:enumeration value="CREATE" />
			<xs:enumeration value="UPDATE" />
			<xs:enumeration value="REVOKE" />
			<xs:enumeration value="PAUSE" />
			<xs:enumeration value="UNPAUSE" />
			<!-- UDIR start -->
			<xs:enumeration value="TXN" />
			<xs:enumeration value="DISPUTE" />
			<xs:enumeration value="TXNDISPUTE" />
			<xs:enumeration value="PAYER" />
			<xs:enumeration value="PAYEE" />
			<xs:enumeration value="REMITTER" />
			<xs:enumeration value="BENEFICIARY" />
			<xs:enumeration value="DISPUTEHIST" />
			<!-- UDIR end -->
			<!-- AADHAAR OTP -->
			<xs:enumeration value="BANK-UIDAI" />
			<xs:enumeration value="BANK" />
			<xs:enumeration value="UIDAI" />
			<xs:enumeration value="PANAADHAAR" />
			<xs:enumeration value="ADVICE" />
			<!-- GETADD API CHANGES 31.05.2021 -->
			<xs:enumeration value="ID" />
			<xs:enumeration value="VPA" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="recurrenceRuleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BEFORE" />
			<xs:enumeration value="ON" />
			<xs:enumeration value="AFTER" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="recurrencePatternType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ONETIME" />
			<xs:enumeration value="DAILY" />
			<xs:enumeration value="WEEKLY" />
			<xs:enumeration value="FORTNIGHTLY" />
			<xs:enumeration value="MONTHLY" />
			<xs:enumeration value="BIMONTHLY" />
			<xs:enumeration value="QUARTERLY" />
			<xs:enumeration value="HALFYEARLY" />
			<xs:enumeration value="YEARLY" />
			<xs:enumeration value="ASPRESENTED" />
			
		</xs:restriction>
	</xs:simpleType>

	<!-- Updated as per TSD 2.0v22 requirement -->
	<xs:simpleType name="amtRuleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MAX" />
			<xs:enumeration value="EXACT" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="revokeableType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y" />
			<xs:enumeration value="N" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="shareToPayee">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y" />
			<xs:enumeration value="N" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="txnCnfrmOrgStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SUCCESS" />
			<xs:enumeration value="FAILURE" />
			<xs:enumeration value="PENDING" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="institutionOrginatorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INDIVIDUAL" />
			<xs:enumeration value="COMPANY" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="institutionAttrType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MTO" />
			<xs:enumeration value="BANK" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Updated as per Visalakshmi's suggestion -->
	<xs:simpleType name="institutionRoute">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MTSS" />
			<xs:enumeration value="RDA" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Updated as per TSD 2.0v22 requirement -->
	<xs:simpleType name="ownershipType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PROPRIETARY" />
			<xs:enumeration value="PARTNERSHIP" />
			<xs:enumeration value="PRIVATE" />
			<xs:enumeration value="PUBLIC" />
			<xs:enumeration value="OTHERS" />
		</xs:restriction>
	</xs:simpleType>
<!-- use this -->
	<xs:simpleType name="aadhaarConsentConstant">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y" />
			<xs:enumeration value="N" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="respPType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="UPIMANDATE" />
			<xs:enumeration value="UPIVOUCHER" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Updated as per TSD 2.0v29 requirement -->
	<xs:simpleType name="initiatedByType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PAYER" />
			<xs:enumeration value="PAYEE" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Updated as per TSD 2.0v29 requirement -->
	<xs:simpleType name="blockFund">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y" />
			<xs:enumeration value="N" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Updated as per TSD 2.0v31 requirement -->
	<xs:simpleType name="mandateSignId">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MANDATE" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Updated as per TSD 2.0v35 requirement -->
	<xs:simpleType name="txnPurpose">
		<xs:restriction base="xs:string">

			<xs:enumeration value="00" />
			<xs:enumeration value="01" />
			<xs:enumeration value="02" />
			<xs:enumeration value="03" />
			<!-- I18N RELATED CHANGES START-->
			<xs:enumeration value="11" />
			<!-- I18N RELATED CHANGES END-->
			<!-- ATM START-->
			<xs:enumeration value="12" />
			<xs:enumeration value="13" />
			<!-- ATM END-->
			<xs:enumeration value="19" />			

			<xs:enumeration value="A1" />
			<xs:enumeration value="A2" />
			<xs:enumeration value="A3" />
			<xs:enumeration value="A4" />
			<xs:enumeration value="A5" />
			<xs:enumeration value="A6" />
			<xs:enumeration value="A7" />
			<xs:enumeration value="A8" />
			<xs:enumeration value="A9" />
			<xs:enumeration value="A0" />
			<xs:enumeration value="B0" />
			<xs:enumeration value="B1" />
			<xs:enumeration value="B2" />
			<xs:enumeration value="B3" />
			<xs:enumeration value="B4" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Updated as per TSD 2.0v35 requirement -->
	<xs:simpleType name="merchantIdentifierType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SMALL" />
			<xs:enumeration value="LARGE" />
		</xs:restriction>
	</xs:simpleType>


	<!-- Updated as per TSD 2.0v41 requirement -->
	<xs:simpleType name="txnRefCategory">
		<xs:restriction base="xs:string">
			<xs:enumeration value="00" />
			<xs:enumeration value="01" />
			<xs:enumeration value="02" />
			<xs:enumeration value="03" />
			<xs:enumeration value="04" />
			<xs:enumeration value="05" />
			<xs:enumeration value="06" />
			<xs:enumeration value="07" />
			<xs:enumeration value="08" />
			<xs:enumeration value="09" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Updated as per TSD 2.0v41 requirement -->
	<xs:simpleType name="merchantGenreType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OFFLINE" />
			<xs:enumeration value="ONLINE" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Updated as per TSD 2.0v41 requirement -->
	<xs:simpleType name="merchantOnBoardingType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BANK" />
			<xs:enumeration value="AGGREGATOR" />
			<xs:enumeration value="NETWORK" />
			<xs:enumeration value="TPAP" />
		</xs:restriction>
	</xs:simpleType>


	<!-- Updated as per TSD 2.0v35 requirement -->
	<xs:simpleType name="pspVersionNo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1.0" />
			<xs:enumeration value="2.0" />
			<xs:enumeration value="2.1" />
			<xs:enumeration value="2.2" />
			<xs:enumeration value="2.3" />
			<!-- Updated as per 2.4 version requirement -->
			<xs:enumeration value="2.4" />		
		</xs:restriction>
	</xs:simpleType>

	<!-- Updated as per TSD 2.0v35 requirement -->
	<xs:simpleType name="pspVersionDesc">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Basic UPI 1.0 version" />
			<xs:enumeration value="UPI 2.0 version: All tag level changes" />
			<xs:enumeration value="UPI 2.0 Mandate" />
			<xs:enumeration value="REFUND" />
			<xs:enumeration value="AADHAAR" />
			<!-- Updated as per 2.4 version requirement -->
			<xs:enumeration value="VALCUST" />	
		</xs:restriction>
	</xs:simpleType>




	<!-- Updated as per TSD 2.0v35 requirement -->
	<xs:simpleType name="pspVersionMandatory">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TRUE" />
			<xs:enumeration value="FALSE" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- ReInfo Changes for PanAuth -->
	<xs:simpleType name="txnType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CWD" />
			<xs:enumeration value="CD" />
			<xs:enumeration value="RTGS" />
			<xs:enumeration value="NEFT" />
			<xs:enumeration value="UPI" />
			<xs:enumeration value="IMPS" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fndIndi">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DR" />
			<xs:enumeration value="CR" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="prodType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AEPS" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="channelType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BRANCH" />
			<xs:enumeration value="MOBILE" />
			<xs:enumeration value="INB" />
			<xs:enumeration value="CHQ" />
			<xs:enumeration value="ATM" />
			<xs:enumeration value="IVR" />
			<xs:enumeration value="MOB" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="respPanStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y" />
			<xs:enumeration value="N" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- ReInfo Changes for PanAuth -->
	
	<xs:complexType name="headType">
		<!-- Added for IMPS-AEPS start -->
		<xs:sequence>
			<xs:element name="iso8583Element" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:attribute type="xs:base64Binary" name="iso8583Payload" use="required" />
					<xs:attribute type="xs:string" name="port" use="required" />
					<xs:attribute type="xs:string" name="trackingId" use="optional" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<!-- Added for IMPS-AEPS end -->

		<xs:attribute type="xs:string" name="ver" use="required" />
		<xs:attribute type="xs:string" name="ts" use="required" />
		<xs:attribute type="xs:string" name="orgId" use="required" />
		<xs:attribute type="xs:string" name="msgId" use="required" />
		<xs:attribute type="xs:string" name="prodType" />
		
		<xs:attribute type="xs:string" name="destinationOrgId" />
		<xs:attribute type="xs:boolean" name="aepsOld" />
	</xs:complexType>


	<xs:complexType name="riskScoresType">
		<xs:sequence>
			<xs:element name="Score" maxOccurs="5" minOccurs="0">
				<xs:complexType>
					<xs:attribute type="xs:string" name="provider" use="required" />
					<xs:attribute type="xs:string" name="type" use="required" />
					<xs:attribute type="xs:string" name="value" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="rulesType">
		<xs:sequence>
			<xs:element name="Rule" maxOccurs="5" minOccurs="0">
				<xs:complexType>
					<xs:attribute type="upi:expireRuleConstant" name="name"
						use="required" />
					<xs:attribute type="xs:string" name="value" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="amountType">
		<xs:sequence>
			<xs:element name="Split" minOccurs="0" maxOccurs="10">
				<xs:complexType>
					<xs:attribute type="upi:amountSplitConstant" name="name"
						use="required" />
					<xs:attribute type="xs:string" name="value" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute type="xs:string" name="value" use="required" />
		<xs:attribute type="xs:string" name="curr" use="required" />
	</xs:complexType>

	<xs:complexType name="identityType">
		<xs:attribute type="upi:identityConstant" name="type"
			use="required" />
		<xs:attribute type="xs:string" name="verifiedName" use="required" />
		<xs:attribute type="xs:string" name="id" />
	</xs:complexType>
	<xs:complexType name="reInfoType">
		<xs:attribute type="xs:string" name="repId" use="required" />
		<xs:attribute type="xs:string" name="repName" />
		<xs:attribute type="xs:string" name="authId" use="required" />
		<xs:attribute type="xs:string" name="authName" />
		<xs:attribute type="upi:txnType" name="txnType" />
		<xs:attribute type="xs:string" name="amt" />
		<xs:attribute type="upi:fndIndi" name="fndIndi" />
		<xs:attribute type="upi:channelType" name="channel" />
	</xs:complexType>
	<!-- Changes for ReqMapperConfirmation API -->
	<xs:complexType name="txnConfirmationType">
	<xs:sequence>
			<xs:element name="Refs" type="upi:mapperConfRefType" minOccurs="0"/>
			<xs:element name="Consent" type="upi:consentType" minOccurs="0" />
	</xs:sequence>
		<xs:attribute type="xs:string" name="note" use="optional" />
		<xs:attribute type="xs:string" name="orgStatus" use="required" />
		<xs:attribute type="xs:string" name="orgErrorCode" use="optional" />
		<xs:attribute type="upi:opType" name="op" use="required" />
		<xs:attribute type="upi:mapperIdType" name="idType" use="required" />
	</xs:complexType>
	<xs:complexType name="payerInfoType">
		<xs:simpleContent>
		 <xs:extension base="xs:string">
		<xs:attribute type="xs:string" name="type" />
		<xs:attribute type="xs:string" name="id" use="required" />
		<xs:attribute type="xs:string" name="status" />
		</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ratingType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="upi:whiteListedConstant" name="verifiedAddress"
					use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="deviceType">
		<xs:sequence>
			<xs:element name="Tag" maxOccurs="100" minOccurs="1">
				<xs:complexType>
					<xs:attribute type="upi:deviceTagNameType" name="name"
						use="required" />
					<xs:attribute type="xs:string" name="value" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- mobile mapper start -->
	<xs:complexType name="regIdDetailsType">
		<xs:sequence>
			<xs:element name="Id" maxOccurs="2" minOccurs="1">
				<xs:complexType>
					<xs:attribute type="upi:regIdDetailsTagNameType" name="name"
						use="required" />
					<xs:attribute type="xs:string" name="value" use="required" />
					<xs:attribute type="upi:regIdDetailsSetStatusType" name="setStatus"
						use="optional" />		
					<xs:attribute type="xs:string" name="expiryTs" use="required" />			
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute type="xs:string" name="addr" />
		<xs:attribute type="upi:payerConstant" name="type" />
		<xs:attribute type="upi:regIdStatusType" name="idStatus" />
		<xs:attribute type="xs:string" name="lastUpdatedTs" />
		<xs:attribute type="xs:string" name="channel" />
	</xs:complexType>
	
	<xs:simpleType name="regIdDetailsTagNameType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MOBILE" />
			<xs:enumeration value="NUMERICID" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="regIdDetailsSetStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACTIVE" />
			<xs:enumeration value="INACTIVE" />
			<xs:enumeration value="BLOCK" />
			<xs:enumeration value="UNBLOCK" />
			<xs:enumeration value="DEREGISTER" />
			<xs:enumeration value="PORTED" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="regIdStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BLOCKED" />
			<xs:enumeration value="ACTIVE" />
			<xs:enumeration value="INACTIVE" />
			<xs:enumeration value="NEW" />
			<xs:enumeration value="DEREGISTER" />
		</xs:restriction>
	</xs:simpleType>

	<!-- mobile mapper end -->
	<xs:complexType name="respTypeValCust">
		<xs:sequence>
			<xs:element name="RespIdDetails" type="upi:respIdDetails" minOccurs="0"
				maxOccurs="1" />
			<!-- Added for Mandate Notification -->
			<xs:element name="Amount" type="upi:amountType" minOccurs="0"
				maxOccurs="1" />
			</xs:sequence>
		<xs:attribute type="xs:string" name="reqMsgId" />
		<xs:attribute type="xs:string" name="result" />
		<xs:attribute type="xs:string" name="errCode" />
	</xs:complexType>
	<!-- upi-billion to upi-merge -->
	<xs:complexType name="reqIdDetails">		
		<xs:sequence>
			<xs:element name="Id" maxOccurs="10" minOccurs="1">
				<xs:complexType>
					<xs:attribute type="upi:custidentityConstant" name="name"
						use="required" />
					<xs:attribute type="xs:string" name="value" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		
	</xs:complexType>
	
	<xs:complexType name="respIdDetails">
		<xs:sequence>
			<xs:element name="Id" type="upi:idType" minOccurs="1"/>
		</xs:sequence>
		<xs:attribute type="xs:string" name="addr" use="required" />
	</xs:complexType>
	
	<xs:complexType name="idType">
		<xs:sequence>
			<xs:element name="Detail" maxOccurs="10" minOccurs="1">
				<xs:complexType>
					<xs:attribute type="upi:idDetailType" name="name"
						use="required" />
					<xs:attribute type="xs:string" name="value" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute type="upi:custidentityConstant" name="name"
						use="required" />
		<xs:attribute type="xs:string" name="value" use="required" />
	</xs:complexType>
	<!-- upi-billion to upi-merge -->
	<xs:complexType name="accountType">
		<xs:sequence>
			<xs:element name="Detail" maxOccurs="10" minOccurs="1">
				<xs:complexType>
					<xs:attribute type="upi:accountDetailType" name="name"
						use="required" />
					<xs:attribute type="xs:string" name="value" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute type="upi:addressType" name="addrType" use="required" />
	</xs:complexType>

	<xs:complexType name="credsType">
		<xs:sequence>
			<xs:element name="Cred" minOccurs="1" maxOccurs="10">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Data" maxOccurs="1" minOccurs="1">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute type="xs:string" name="code" />
										<xs:attribute type="xs:string" name="ki" />
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						
					</xs:sequence>
					<xs:attribute type="upi:credType" name="type" use="required" />
					<xs:attribute type="upi:credSubType" name="subType"
						use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute type="xs:string" name="ki"/>
	</xs:complexType>

	<xs:complexType name="credsAllowedType">
		<xs:attribute type="upi:credType" name="type" use="required" />
		<xs:attribute type="upi:credSubType" name="subType" use="required" />
		<xs:attribute type="upi:credDataTypeConstant" name="dType"
			use="required" />
		<xs:attribute type="upi:credLengthConstant" name="dLength"
			use="required" />
	</xs:complexType>

	<!-- Updated as per TSD 2.0v22 requirement -->
	<xs:complexType name="txnConfDtl">
		<xs:sequence>
			<xs:element name="Ref" maxOccurs="50" minOccurs="0" type="upi:ref" />
			<xs:element name="Consent" type="upi:consentType" minOccurs="0" />			
		</xs:sequence>
		<xs:attribute type="xs:string" name="note" />
		<xs:attribute type="xs:string" name="orgStatus" />
		<xs:attribute type="xs:string" name="orgErrCode" />
		<xs:attribute type="upi:payConstant" name="type" />
		<xs:attribute type="xs:string" name="actn" />
	</xs:complexType>


	<!-- Updated as per TSD 2.0v35 requirement -->
	<xs:complexType name="payTrans">
		<xs:sequence>
			<xs:element name="RiskScores" type="upi:riskScoresType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="Rules" type="upi:rulesType" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="QR" type="upi:qrType" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
		<xs:attribute type="xs:string" name="id" />
		<xs:attribute type="xs:string" name="note" />
		<xs:attribute type="xs:string" name="successRefId" />
		<xs:attribute type="xs:string" name="successTs" />		
		<xs:attribute type="xs:string" name="refId" />
		<xs:attribute type="xs:string" name="refUrl" />
		<xs:attribute type="xs:string" name="ts" />
		<xs:attribute type="upi:payConstant" name="type" />
		<xs:attribute type="xs:string" name="orgMsgId" />
		<xs:attribute type="xs:string" name="orgTxnId" />
		<xs:attribute type="xs:string" name="orgRespCode" />
		<xs:attribute type="xs:string" name="orgApprovalNum" /> <!-- Field added for AEPS  -->
		<xs:attribute type="xs:string" name="custRef" />
		<xs:attribute type="xs:string" name="orgTxnDate" />
		<xs:attribute type="xs:string" name="orgRrn" />
		<xs:attribute type="xs:string" name="category" />
		<xs:attribute type="xs:string" name="umn" />
		<xs:attribute type="upi:initiationModeCode" name="initiationMode" />
		<xs:attribute type="upi:txnSubType" name="subType" use="optional" />
		<!-- Updated as per TSD 2.0v29 requirement -->
		<xs:attribute type="upi:initiatedByType" name="initiatedBy"
			use="optional" />
		<xs:attribute type="xs:string" name="pspOrgId" use="optional" />
		<xs:attribute type="upi:txnPurpose" name="purpose" />
		<!--Added for UPI-URCS integration -->
		<xs:attribute type="xs:string" name="lastUpdTs" use="optional"/>
		<xs:attribute type="xs:string" name="crtnTs" use="optional" />
		<!-- Updated as per TSD 2.0v41 requirement -->
		<xs:attribute type="upi:txnRefCategory" name="refCategory" />
		<!-- Added for reqActivation -->
		<xs:attribute type="upi:actionConstant" name="action" use="optional" />
		<xs:attribute type="xs:string" name="valStart" use="optional" />
		<xs:attribute type="xs:string" name="valEnd" use="optional" />
		<xs:attribute type="upi:dealtTypeType" name="dealtType" />
		<xs:attribute type="upi:dealtSideType" name="dealtSide" />
		<!--Added for mandate notification -->
		<xs:attribute type="xs:string" name="umnExecTs" />
		<xs:attribute type="xs:string" name="orgRespMsg" />
		<xs:attribute type="xs:string" name="depositId" />
		<xs:attribute type="xs:string" name="orgTxnAmt" />
		<!-- Added for mobile mapper start -->
		<xs:attribute type="upi:opType" name="op" use="optional" />
		<!-- xs:attribute type="upi:mobileMapperIdType" name="idType" use="optional" /-->
		<!-- Added for mobile mapper end -->
		<xs:attribute type="xs:string" name="addr" />
		<xs:attribute type="xs:string" name="shgId" />
	</xs:complexType>

	<xs:simpleType name="dealtTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SPOT" />
			<xs:enumeration value="FORWARD" />
			<xs:enumeration value="NDF" />
			<xs:enumeration value="SWAPS" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dealtSideType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BUY" />
			<xs:enumeration value="SELL" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Added for reqActivation -->
	<xs:simpleType name="actionConstant">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Activation" />
			<xs:enumeration value="Update" />
			<xs:enumeration value="Deactivation" />
			<xs:enumeration value="Query" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="payeesType">
		<xs:sequence>
			<xs:element name="Payee" type="upi:payeeType" minOccurs="1"
				maxOccurs="50" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="payeeType">
		<xs:sequence>
			<xs:element name="Info" minOccurs="0" maxOccurs="1"
				type="upi:infoType" />
			<xs:element name="Device" type="upi:deviceType" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="Ac" type="upi:accountType" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="Amount" type="upi:amountType" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="Merchant" type="upi:merchantType"
				maxOccurs="1" minOccurs="0" />
			<xs:element name="Institution" type="upi:institutionType"
				minOccurs="0" />
			<xs:element name="FxList" type="upi:fxListType" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="Consent" type="upi:consentType"
				minOccurs="0" />
			<xs:element name="ReqIdDetails" type="upi:reqIdDetails"
				minOccurs="0" />
			<xs:element name="Creds" type="upi:credsType" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
		<xs:attribute type="xs:string" name="addr" />
		<xs:attribute type="xs:string" name="name" />
		<xs:attribute type="xs:string" name="seqNum" />
		<xs:attribute type="upi:payerConstant" name="type" />
		<xs:attribute type="xs:string" name="code" />
		<xs:attribute name="note" type="xs:string" use="optional" />
		<xs:attribute type="xs:string" name="ts" use="optional" />
		<!-- mobile mapper start -->
		<xs:attribute type="xs:string" name="cmId" use="optional" />
		<!-- mobile mapper end -->
	</xs:complexType>

	<xs:complexType name="infoType">
		<xs:sequence>
			<xs:element name="Identity" type="upi:identityType" />
			<xs:element name="Rating" type="upi:ratingType" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="payerType">
		<xs:sequence>
			<xs:element name="Info" type="upi:infoType" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="Device" type="upi:deviceType" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="Ac" type="upi:accountType" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="Creds" type="upi:credsType" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="Amount" type="upi:amountType" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="NewCred" type="upi:credsType" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="Merchant" type="upi:merchantType"
				maxOccurs="1" minOccurs="0" />
			<xs:element name="Institution" type="upi:institutionType"
				minOccurs="0" />
			<xs:element name="Consent" type="upi:consentType"
				minOccurs="0" />
			<!-- upi-billion to upi-merge -->
			<xs:element name="ReqIdDetails" type="upi:reqIdDetails"
			minOccurs="0" />	
			<!-- upi-billion to upi-merge -->	
			<!-- mobile mapper start -->
			<xs:element name="RegIdDetails" type="upi:regIdDetailsType"
				maxOccurs="1" minOccurs="0" />
			<!-- mobile mapper end -->
		</xs:sequence>
		<xs:attribute type="xs:string" name="addr" />
		<xs:attribute type="xs:string" name="name" />
		<xs:attribute type="xs:string" name="seqNum" />
		<xs:attribute type="upi:payerConstant" name="type" />
		<xs:attribute type="xs:string" name="code" />
		<xs:attribute type="upi:aadhaarConsentConstant" name="aadhaarConsent" />
		<!-- mobile mapper start -->
		<xs:attribute type="xs:string" name="cmId" use="optional" />
		<!-- mobile mapper end -->
	</xs:complexType>
	
	<xs:complexType name="respType">
		<xs:sequence>
			<xs:element name="Ref" maxOccurs="unbounded" minOccurs="0"
				type="upi:ref" />
				<xs:element name="PayerInfo" maxOccurs="1" minOccurs="0"
				type="upi:payerInfoType" />
			<!-- mobile mapper start -->
			<xs:element name="RegIdDetails" type="upi:regIdDetailsType"
				maxOccurs="2" minOccurs="0" />
			<!-- mobile mapper end -->
		</xs:sequence>
		<xs:attribute type="xs:string" name="reqMsgId" />
		<xs:attribute type="xs:string" name="result" />
		<xs:attribute type="xs:string" name="errCode" />
		<xs:attribute type="xs:string" name="errDesc" />
		<xs:attribute type="xs:string" name="actn" />
		<xs:attribute type="xs:string" name="securePinUrl" />
		<xs:attribute type="xs:string" name="authCode" />
	</xs:complexType>

	<!-- Updated as per TSD 2.0v35 requirement -->
	<xs:complexType name="respTypeValAddr">
		<xs:sequence>
			<xs:element name="Merchant" type="upi:merchantType" />
			<xs:element type="upi:featureSupported" name="FeatureSupported" />
		    <xs:element name="Amount" type="upi:amountType" />
		</xs:sequence>
		<xs:attribute type="xs:string" name="reqMsgId" />
		<xs:attribute type="xs:string" name="result" />
		<xs:attribute type="xs:string" name="errCode" />
		<xs:attribute type="xs:string" name="maskName" />
		<xs:attribute type="xs:string" name="code" />
		<xs:attribute type="xs:string" name="type" />
		<xs:attribute type="xs:string" name="IFSC" />
		<xs:attribute type="xs:string" name="IIN" />
		<xs:attribute type="upi:respPType" name="pType" />
		<xs:attribute type="upi:listedAccountType" name="accType" />  
		<xs:attribute type="xs:string" name="acNum" />
		<xs:attribute type="xs:string" name="approvalNum" />
		<xs:attribute type="xs:string" name="actn" />
		<xs:attribute type="xs:string" name="authCode" />
		<!-- mobile mapper start -->
		<xs:attribute type="xs:string" name="cmId" />
		<xs:attribute type="xs:string" name="addr" />
		<xs:attribute type="xs:string" name="channel" />
		<!-- mobile mapper end -->
	</xs:complexType>

	<!-- Updated as per TSD 2.0v35 requirement -->
	<xs:complexType name="ref">
		<xs:attribute type="upi:refType" name="type" use="optional" />
		<xs:attribute type="xs:string" name="seqNum" use="optional" />
		<xs:attribute type="xs:string" name="addr" use="optional" />
		<xs:attribute type="xs:string" name="settAmount" use="optional" />
		<xs:attribute type="xs:string" name="settCurrency" use="optional" />
		<xs:attribute type="xs:string" name="approvalNum" use="optional" />
		<xs:attribute type="xs:string" name="respCode" use="optional" />
		<xs:attribute type="xs:string" name="regName" use="optional" />
		<xs:attribute type="xs:string" name="reversalRespCode"
			use="optional" />
		<xs:attribute type="xs:string" name="orgAmount" use="optional" />
		<xs:attribute type="xs:string" name="acNum" />
		<xs:attribute type="xs:string" name="IFSC" />
		<xs:attribute type="xs:string" name="code" />
		<xs:attribute type="xs:string" name="actn" />
		<xs:attribute type="upi:listedAccountType" name="accType" />
		<xs:attribute type="upi:payConstant" name="opType" />
		<xs:attribute type="xs:string" name="iin" />
		<xs:attribute type="xs:string" name="respMsg" />
		<xs:attribute type="xs:string" name="bankName" />
		<xs:attribute type="xs:string" name="linkStatus" />
		<xs:attribute type="xs:string" name="lastUpdTs" />
		<xs:attribute type="xs:string" name="balAmt" />
		<!-- UDIR Addition Start -->
		<xs:attribute type="upi:refProcStatus" name="procStatus" use="optional" />
		<xs:attribute type="xs:string" name="adjAmt" use="optional" />
		<xs:attribute type="xs:string" name="adjTs" use="optional" />
		<xs:attribute type="xs:string" name="adjRefId" use="optional" />
		<xs:attribute type="upi:adjFlagType" name="adjFlag" use="optional" />
		<xs:attribute type="xs:string" name="adjCode" use="optional" />
		<xs:attribute type="xs:string" name="adjRemarks" use="optional" />
		<xs:attribute type="xs:string" name="rejReason" use="optional" />
		<!-- UDIR Addition End -->		
		<!-- mobile mapper start -->
		<xs:attribute type="xs:string" name="cmId" use="optional" />
		<!-- mobile mapper end -->
	</xs:complexType>

	<xs:complexType name="respVaeRef">
		<xs:attribute type="upi:opType" name="op" use="optional" />
		<xs:attribute type="xs:string" name="seqNum" use="optional" />
		<xs:attribute type="xs:string" name="addr" use="optional" />
		<xs:attribute type="xs:string" name="respCode" use="optional" />
		<xs:attribute type="upi:resultType" name="result" use="optional" />
	</xs:complexType>

	<xs:complexType name="recurrenceType">
		<xs:sequence>
			<xs:element name="Rule" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:attribute name="value" type="xs:string" use="required" />
					<xs:attribute name="type" type="upi:recurrenceRuleType"
						use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="pattern" type="upi:recurrencePatternType" />
	</xs:complexType>

	<!-- Modified as per Visalakshmi's request -->
	<xs:complexType name="mandateType">
		<xs:sequence>
			<xs:element name="Validity" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:attribute name="start" type="xs:string"  />
					<xs:attribute name="end" type="xs:string"  />
				</xs:complexType>
			</xs:element>
			<xs:element name="Amount" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:attribute name="value" type="xs:string"  />
					<xs:attribute name="rule" type="upi:amtRuleType"  />
				</xs:complexType>
			</xs:element>
			<xs:element name="Recurrence" type="upi:recurrenceType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="txnId" type="xs:string" />
		<xs:attribute name="umn" type="xs:string" />
		<xs:attribute name="ts" type="xs:string" />
		<xs:attribute name="revokeable" type="upi:revokeableType" />
		<xs:attribute name="shareToPayee" type="upi:shareToPayee"
			use="optional" />
		<xs:attribute name="type" type="xs:string" use="optional" />
		<xs:attribute name="blockFund" type="upi:blockFund" />
	</xs:complexType>

	<!-- Updated as per TSD 2.0v35 requirement -->
	<xs:complexType name="identifierType">
		<xs:attribute name="subCode" type="xs:string" />
		<xs:attribute name="mid" type="xs:string" />
		<xs:attribute name="sid" type="xs:string" />
		<xs:attribute name="tid" type="xs:string" />
		<xs:attribute name="merchantType" type="upi:merchantIdentifierType" />
		<xs:attribute name="merchantGenre" type="upi:merchantGenreType" />
		<xs:attribute name="onBoardingType" type="upi:merchantOnBoardingType" />
		<xs:attribute name="regId" type="xs:string" use="optional" />
		<xs:attribute name="pinCode" type="xs:string" use="optional" />
		<xs:attribute name="tier" type="xs:string" use="optional" />
		<xs:attribute name="merchantLoc" type="xs:string" use="optional" />
		<xs:attribute name="merchantInstCode" type="xs:string" use="optional" />
	</xs:complexType>

	<xs:complexType name="nameType">
		<xs:attribute name="brand" type="xs:string" />
		<xs:attribute name="legal" type="xs:string" />
		<xs:attribute name="franchise" type="xs:string" />
	</xs:complexType>

	<xs:complexType name="merchantOwnership">
		<xs:attribute name="type" type="upi:ownershipType" />
	</xs:complexType>

	<xs:complexType name="merchantType">
		<xs:sequence>
			<xs:element name="Identifier" type="upi:identifierType"
				maxOccurs="1" minOccurs="0" />
			<xs:element name="Name" type="upi:nameType" maxOccurs="1"
				minOccurs="0" />
			<xs:element name="Ownership" type="upi:merchantOwnership"
				minOccurs="1" />
			<xs:element name="Invoice" type="upi:invoiceType"
				minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="invoiceType">
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="num" type="xs:string" />
		<xs:attribute name="date" type="xs:string" />
	</xs:complexType>


	<xs:complexType name="institutionName">
		<xs:attribute name="value" type="xs:string" use="required" />
		<xs:attribute name="acNum" type="xs:string" use="required" />
		<xs:attribute name="ifsc" type="xs:string" use="required" />
	</xs:complexType>

	<xs:complexType name="institutionPurpose">
		<xs:attribute name="code" type="xs:string" use="required" />
		<xs:attribute name="note" type="xs:string" use="optional" />
	</xs:complexType>

	<xs:complexType name="institutionOriginatorAddress">
		<xs:attribute name="location" type="xs:string" use="required" />
		<xs:attribute name="city" type="xs:string" use="optional" />
		<xs:attribute name="country" type="xs:string" use="optional" />
		<xs:attribute name="geocode" type="xs:string" use="optional" />
	</xs:complexType>

	<xs:complexType name="institutionOriginator">
		<xs:sequence>
			<xs:element name="Address" type="upi:institutionOriginatorAddress"
				minOccurs="1" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="type" type="upi:institutionOrginatorType"
			use="optional" />
		<xs:attribute name="refNo" type="xs:string" use="required" />
	</xs:complexType>

	<xs:complexType name="institutionBeneficiary">
		<xs:attribute name="name" type="xs:string" use="required" />
	</xs:complexType>

	<xs:complexType name="institutionType">
		<xs:sequence>
			<xs:element name="Name" type="upi:institutionName"
				minOccurs="1" />
			<xs:element name="Purpose" type="upi:institutionPurpose"
				minOccurs="1" />
			<xs:element name="Originator" type="upi:institutionOriginator"
				minOccurs="1" />
			<xs:element name="Beneficiary" type="upi:institutionBeneficiary"
				minOccurs="1" />
			<xs:element name="CurrVal" type="upi:CurrValType"/>				
		</xs:sequence>
		<xs:attribute name="type" type="upi:institutionAttrType"
			use="required" />
		<xs:attribute name="route" type="upi:institutionRoute"
			use="required" />
		<!-- I18N RELATED CHANGES START-->
		<xs:attribute name="netInstId" type="xs:string"/>
		<xs:attribute name="QrPayLoad" type="xs:string"/>
		<xs:attribute name="conCode" type="xs:string" use="optional" />	
		<xs:attribute name="baseCurr" type="xs:string"/>
		<xs:attribute name="tenor" type="upi:tenorConstants"/>
		<xs:attribute name="validity" type="xs:string"/>
		<!-- I18N RELATED CHANGES END-->
	</xs:complexType>

	<xs:complexType name="CurrValType">
	   <xs:attribute name="baseCurr" type="xs:string"/>
	   <xs:attribute name="uniQuotesId" type="xs:string"/>
	   <xs:attribute name="valEndTs" type="xs:string"/>
	   <xs:attribute name="fxRate" type="xs:string"/> 
	   <xs:attribute name="markup" type="xs:string"/>
	   <xs:attribute name="contraAmt" type="xs:string"/> 
	   <xs:attribute name="txnAmt" type="xs:string"/>  
	   <xs:attribute name="valueDate" type="xs:string"/> 
	</xs:complexType>


	<xs:complexType name="keyType">
		<xs:sequence>
			<xs:element name="keyValue" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="code" type="xs:string" />
		<xs:attribute name="type" type="xs:string" />
		<xs:attribute name="ki" type="xs:string" />
	</xs:complexType>

	<xs:complexType name="MetaType">
		<xs:attribute name="lk" type="xs:string" />
		<xs:attribute name="ac" type="xs:string" />
		<xs:attribute name="sa" type="xs:string" />
		<xs:attribute name="uid" type="xs:string" />
		<xs:attribute name="ver" type="xs:string" />
	</xs:complexType>

	<xs:complexType name="mandateSign">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="upi:mandateSignId" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!-- Updated as per TSD 2.0v35 requirement -->
	<xs:complexType name="pspVersionType">
		<xs:attribute name="no" type="upi:pspVersionNo" />
		<xs:attribute name="description" type="upi:pspVersionDesc" />
		<xs:attribute name="mandatory" type="upi:pspVersionMandatory" />
	</xs:complexType>

	<!-- Updated as per TSD 2.0v35 requirement -->
	<xs:complexType name="pspVersionSupportedType">
		<xs:sequence>
			<xs:element name="Version" type="upi:pspVersionType" />
		</xs:sequence>
	</xs:complexType>

	<!--Added below for pahse5 Req -->
	<xs:complexType name="featureSupported">
		<xs:attribute name="value" type="xs:string" use="optional" />
	</xs:complexType>
	
	<!-- upi-billion to upi-merge -->	
	<xs:simpleType name="accountNatureType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SINGLE" />
			<xs:enumeration value="JOINT" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="accountHolderType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PRIMARY" />
			<xs:enumeration value="SECONDARY" />
		</xs:restriction>
	</xs:simpleType>
	<!-- upi-billion to upi-merge -->	

	<xs:complexType name="qrType">
		<xs:attribute type="xs:string" name="qVer" />
		<xs:attribute type="xs:string" name="ts" />
		<xs:attribute type="xs:string" name="qrMedium" />
		<xs:attribute type="xs:string" name="expireTs" />
		<xs:attribute type="xs:string" name="query" />
		<xs:attribute type="xs:string" name="verToken" />
		<xs:attribute type="xs:string" name="stan" />
		<xs:attribute type="xs:string" name="acqInstCode" />
	</xs:complexType>
	
	<xs:complexType name="fxListType">
		<xs:sequence>
			<xs:element name="Fx" maxOccurs="10" minOccurs="0">
				<xs:complexType>
					<xs:attribute type="xs:string" name="baseAmount" use="required" />
					<xs:attribute type="xs:string" name="baseCurr" use="required" />
					<xs:attribute type="xs:string" name="active" use="required" />
					<xs:attribute type="xs:string" name="Fx" use="required" />
					<xs:attribute type="xs:string" name="Mkup" use="required" />
					<xs:attribute type="xs:string" name="lastModifedTs" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="consentType">
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="type" type="upi:consentTypeEnum"/>
		<xs:attribute name="value" type="xs:string"/>	
		<xs:attribute name="prevVpa" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="mapperConfRefType">
		<xs:attribute type="xs:string" name="type" use="required" />
		<xs:attribute type="xs:string" name="regName" use="optional" />
		<xs:attribute type="xs:string" name="addr" use="optional" />
		<xs:attribute type="xs:string" name="cmId" use="optional" />
		<xs:attribute type="xs:string" name="code" use="optional" />	
		<xs:attribute type="xs:string" name="respCode" use="optional" />	
		<xs:attribute type="upi:channelType" name="channel" use="required" />
		<xs:attribute type="upi:regIdDetailsSetStatusType" name="status" use="required" />					
	</xs:complexType>
	<xs:simpleType name="consentTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PAN" />
			<xs:enumeration value="AADHAAR" />
			<xs:enumeration value="AADHAARTOKEN " />
			<xs:enumeration value="PASSPORT" />
			<xs:enumeration value="VOTERID" />
			<xs:enumeration value="DRIVINGLICENSE" />
			<xs:enumeration value="GSTIN" />
			<!-- mobile mapper start -->
			<xs:enumeration value="NUMERICID" />
			<xs:enumeration value="MOBILE" />
			<!-- mobile mapper end -->
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="metaListType">
		<xs:sequence>
			<xs:element name="Tag" maxOccurs="10" minOccurs="0">
				<xs:complexType>
					<xs:attribute type="xs:string" name="name" use="required" />
					<xs:attribute type="xs:string" name="value" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	
	<!-- UDIR Addition Start -->
	<xs:complexType name="complaintType">
		<xs:sequence>
			<xs:element name="Creds" type="upi:credsType" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
		<xs:attribute type="upi:adjFlagType" name="reqAdjFlag" />
		<xs:attribute type="xs:string" name="reqAdjCode" />
		<xs:attribute type="xs:string" name="reqAdjAmount" />
		<xs:attribute type="xs:string" name="orgSettRespCode" />
		<xs:attribute type="xs:string" name="currCycle" />
	</xs:complexType>
	<!-- UDIR Addition End -->
	
	<xs:complexType name="Otp">
		<xs:sequence>
			<xs:element name="ts" type="xs:string" />
			<xs:element name="ac" type="xs:string" />
			<xs:element name="sa" type="xs:string" />
			<xs:element name="ver" type="xs:string" />
			<xs:element name="txn" type="xs:string" />
			<xs:element name="lk" type="xs:string" />
			<xs:element name="ch" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<!-- <xs:complexType name="Bfd">
		<xs:sequence>
			<xs:element name="uid" type="xs:string" />
			<xs:element name="rc" type="xs:string" />
			<xs:element name="tid" type="xs:string" />
			<xs:element name="ac" type="xs:string" />
			<xs:element name="sa" type="xs:string" />
			<xs:element name="ver" type="xs:string" />
			<xs:element name="txn" type="xs:string" />
			<xs:element name="lk" type="xs:string" />
		</xs:sequence>
	</xs:complexType> -->
	<xs:complexType name="kycInfo">		
		<xs:sequence>
			<xs:element name="KYCData" maxOccurs="1" minOccurs="1">
			</xs:element>
		</xs:sequence>
		
	</xs:complexType>
	
	<xs:complexType name="authDetails">		
		<xs:sequence>
			<xs:element name="Data" maxOccurs="1" minOccurs="1">
			</xs:element>
		</xs:sequence>		
	</xs:complexType>
	
	<xs:complexType name="VerificationSequence">
		<xs:sequence>
			<xs:element name="SendingTimestamp" type="xs:string" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="Sequence" type="xs:int" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="ChkTxnMsgId" type="xs:string" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="respCode" type="xs:string" minOccurs="1"
				maxOccurs="1" />

			<!-- Added for IMPS-AEPS start -->
			<xs:element name="iso8583Element" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:attribute type="xs:base64Binary" name="iso8583Payload" use="required" />
					<xs:attribute type="xs:string" name="port" use="required" />
					<xs:attribute type="xs:string" name="trackingId" use="optional" />
				</xs:complexType>
			</xs:element>
			<!-- Added for IMPS-AEPS end -->

		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SHGInfo">
		<xs:sequence>
			<xs:element name="Detail" maxOccurs="50" minOccurs="0">
				<xs:complexType>
					<!-- <xs:sequence>
						<xs:element name="Ref" maxOccurs="50" minOccurs="0" type="upi:ref" />
						<xs:element name="Consent" type="upi:consentType"
							minOccurs="0" />							
					</xs:sequence> -->
					<xs:attribute type="xs:string" name="id" />
					<xs:attribute type="upi:signatoryTypeEnum" name="type" />
					<xs:attribute type="xs:string" name="UIDToken" />
					<xs:attribute type="xs:string" name="custName" />
				</xs:complexType>
		
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="signatoryTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Signatory1" />
			<xs:enumeration value="Signatory2" />
			<xs:enumeration value="Signatory3" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>